* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 75%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(63, 63, 63);
  background-color: #f3f3f3;
  height: 100vh;
  padding: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.header_title{
    text-align: center;
    padding-top: 10%;
    T
}