* {
  margin: 10;
  padding: 10;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $backgroud-color;
  color: antiquewhite;
  height: 100vh;
  padding: 2rem;
  list-style: none;
  margin: 0 10%;


  .header_title{
    text-align: center;
    margin-top: 60px; 
    height: 190px;
    .input-area {
      display: inline-flex;
      height: 7%;
      #salary-form-fill{
          width: 250px;
          height: 50px;
          border-radius: 50px;
          border-color: $scarlet;
          border-width: 5px;
          background: rgb(46, 6, 6);
          color: antiquewhite;
          font-size: medium;
          font-weight: bold; 
          text-align: center;
          transition: all 500ms ease;
          &::placeholder{
            text-align: center;
            color:antiquewhite;
          }
          &:focus{
            &::placeholder{
              transition: all 260ms ease;
              color:transparent;
            }
          }
          &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
          }
          &:focus{
            background-color: transparent;
            //background: $dark-red;
            outline: none;
            background: rgb(46, 6, 6);
          }
      }
      #salary-submit{
        margin-left: 10px;
        width: 100px;
        height: 50px;
        border-radius: 50px;
        border-color: $scarlet;
        border-width: 5px;
        color:antiquewhite;
        background: rgb(46, 6, 6);
        font-size: medium;
        font-weight: bold; 
        cursor: pointer;
      }
    }  
    }
    
    .calculation-description{
      margin-top: 30px;  
      text-align: center;
      list-style: none;
      ul{
      list-style: none;
      }
    }
     
    .after-calculation{
      padding-top: 40px;
    }
}

.slide-in {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

.slide-in.visible {
  transform: translateX(0);
}