.chart-wrapper {
	margin: 0;
	width: 100%;
	height: 400px;
	position: relative;
}

path {
	stroke: $primColor;
	/* stroke-width: 5px; */
	cursor: pointer;
	transition: fill 250ms;
	&:hover {
		/* stroke-width: 10px; */
		fill: $secColor;
	}
}

text {
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .5px;
}

polyline {
	fill: none;
	stroke: $secColor;
	stroke-width: 2px;
	stroke-dasharray: 5px;
}
/*button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: $secColor;
  border: 1px solid $secColor;
	letter-spacing: 1px;
	transition: all 250ms;
	&:hover {
		background-color: $secColor;
		color: $primColor;
		box-shadow: 0 0 2px $secColor;
	}
	&:active {
		opacity: 0.5;
	}
}
*/