/* SCSS RGB */
* {
  margin: 10;
  padding: 10;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(150deg, rgb(12, 11, 42) 3%, rgb(159, 11, 11) 39%, rgb(255, 175, 0) 100%);
  color: antiquewhite;
  height: 100vh;
  padding: 2rem;
  list-style: none;
  margin: 0 10%;
}
body .header_title {
  text-align: center;
  margin-top: 60px;
  height: 190px;
}
body .header_title .input-area {
  display: inline-flex;
  height: 7%;
}
body .header_title .input-area #salary-form-fill {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  border-color: rgb(235, 60, 20);
  border-width: 5px;
  background: rgb(46, 6, 6);
  color: antiquewhite;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  transition: all 500ms ease;
}
body .header_title .input-area #salary-form-fill::-moz-placeholder {
  text-align: center;
  color: antiquewhite;
}
body .header_title .input-area #salary-form-fill:-ms-input-placeholder {
  text-align: center;
  color: antiquewhite;
}
body .header_title .input-area #salary-form-fill::placeholder {
  text-align: center;
  color: antiquewhite;
}
body .header_title .input-area #salary-form-fill:active::-moz-placeholder {
  color: transparent;
}
body .header_title .input-area #salary-form-fill:active:-ms-input-placeholder {
  color: transparent;
}
body .header_title .input-area #salary-form-fill:active::placeholder {
  color: transparent;
}
body .header_title .input-area #salary-form-fill::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body .header_title .input-area #salary-form-fill:focus {
  background-color: transparent;
  outline: none;
  background: rgb(46, 6, 6);
}
body .header_title .input-area #salary-submit {
  margin-left: 10px;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border-color: rgb(235, 60, 20);
  border-width: 5px;
  color: antiquewhite;
  background: rgb(46, 6, 6);
  font-size: medium;
  font-weight: bold;
}
body .calculation-description {
  margin-top: 30px;
  text-align: center;
  list-style: none;
}
body .calculation-description ul {
  list-style: none;
}
body .after-calculation {
  padding-top: 40px;
}

.div-top-nav {
  height: 80px;
  border-bottom: 3px solid rgb(240, 145, 22);
}
.div-top-nav .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}
.div-top-nav .top-nav #dark-mode-icon {
  width: 2%;
  cursor: pointer;
  filter: invert(80%);
  transition: all 0.4s ease-in-out;
}
.div-top-nav .top-nav #dark-mode-icon:hover {
  filter: invert(20%);
}

.employment-form {
  justify-content: space-around;
  margin: 30px;
  display: flexbox;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.employment-form .employment-type {
  display: inline-block;
  margin-left: 2%;
  padding: 5px;
  cursor: pointer;
  transition: all 500ms;
  border-bottom: 2px solid rgba(250, 235, 215, 0);
}
.employment-form .employment-type:hover {
  color: rgb(235, 60, 20);
  transform: translateY(-10px);
  border-color: rgb(250, 235, 215);
}

footer {
  padding: 10px 20px 10px 20px;
}

.chart-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

path {
  stroke: rgb(46, 46, 46);
  /* stroke-width: 5px; */
  cursor: pointer;
  transition: fill 250ms;
}
path:hover {
  /* stroke-width: 10px; */
  fill: rgb(140, 1, 87);
}

text {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

polyline {
  fill: none;
  stroke: rgb(140, 1, 87);
  stroke-width: 2px;
  stroke-dasharray: 5px;
}

/*button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 10px;
  outline: none;
  font-size: .6em;
  background-color: transparent;
  color: $secColor;
  border: 1px solid $secColor;
	letter-spacing: 1px;
	transition: all 250ms;
	&:hover {
		background-color: $secColor;
		color: $primColor;
		box-shadow: 0 0 2px $secColor;
	}
	&:active {
		opacity: 0.5;
	}
}
*//*# sourceMappingURL=main.css.map */