/* SCSS RGB */
$black: rgba(0, 0, 0, 1);
$dark-primary: rgba(23, 23, 23, 1);
$light-primary:antiquewhite; 
$rust: rgba(188, 59, 9, 1);
$scarlet: rgba(235, 60, 20, 1);
$orange-web: rgba(255, 164, 17, 1);
$dark-red: rgba(156, 0, 0, 1);
$backgroud-color: linear-gradient(150deg, rgba(12,11,42,1) 3%, rgba(159,11,11,1) 39%, rgba(255,175,0,1) 100%);

* {
  margin: 10;
  padding: 10;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $backgroud-color;
  color: antiquewhite;
  height: 100vh;
  padding: 2rem;
  list-style: none;
  margin: 0 15% 0 15%;
  margin-left: 15%;
  margin-right: 15%;

  .header_title{
    text-align: center;
    margin-top: 60px; 
    height: 190px;
    .input-area {
      display: inline-flex;
      height: 7%;
      #salary-form-fill{
          width: 250px;
          height: 50px;
          border-radius: 50px;
          border-color: $scarlet;
          border-width: 5px;
          background: rgb(46, 6, 6);
          color: antiquewhite;
          font-size: medium;
          font-weight: bold; 
          text-align: center;
          transition: all 500ms ease;
          &::placeholder{
            text-align: center;
            color:antiquewhite;
          }
          &:active{
            &::placeholder{
              color:transparent;
            }
          }
          &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
          }
          &:focus{
            background-color: transparent;
            //background: $dark-red;
            outline: none;
            background: rgb(46, 6, 6);
          }
      }
      #salary-submit{
        margin-left: 10px;
        width: 100px;
        height: 50px;
        border-radius: 50px;
        border-color: $scarlet;
        border-width: 5px;
        color:antiquewhite;
        background: rgb(46, 6, 6);
        font-size: medium;
        font-weight: bold; 
        
      }
    }  
    }
    .calculation-description{
      margin-top: 30px;  
      text-align: center;
      list-style: none;
      ul{
      list-style: none;
      }
    }

    .after-calculation{
      padding-top: 40px;
    }
}

.div-top-nav{
  height: 80px;
  border-bottom: 3px solid antiquewhite;
  .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
    #dark-mode-icon{
      width: 2%;
      cursor: pointer;
      filter: invert(80%);
      transition: all 0.4s ease-in-out;
      &:hover{
        filter: invert(20%);
      }
    }
  }
}

.employment-form{
  justify-content: space-around;
  padding: 15px;
  display: flexbox;
  user-select: none;
  .employment-type{
    display: inline-block;
    margin-left: 2%;
    padding: 5px;
    cursor: pointer;
    transition: all 500ms;
    border-bottom: 2px solid rgba(250,235,215,0);
    &:hover{
      color: $scarlet;
      transform: translateY(-10px);
      border-color: rgba(250,235,215,1);;
      
    } 
  }
}


footer{
    padding: 10px 20px 10px 20px;
}